
<!-- componente de material usado para el fondo gris -->
<mat-sidenav-container class="fondo" fullscreen>
  <!-- toolbar o barra superior de la aplicacion donde se encuentran diversos botones -->
  <mat-toolbar fxFlex="" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">

      <mat-label routerLink="homepage">Hogwarts</mat-label>

      <span class="spacer"></span>

      <button mat-button [matMenuTriggerFor]="menu">Casas</button>
      <mat-menu #menu="matMenu">
        <button *ngFor="let casa of casas" mat-menu-item (click)="busquedaCasa(casa)">{{casa}}</button>
      </mat-menu>

      <span class="spacer"></span>

      <button mat-button routerLink="/personajes/profesores">Profesores</button>

      <span class="spacer"></span>

      <button mat-button routerLink="/personajes/estudiantes">Estudiantes</button>

      <span class="spacer"></span>

      <button mat-button routerLink="/solicitudes/solicitudes">Solicitudes</button>

  </mat-toolbar>

  <div class="container home">
    <h1 class="center">Bienvenido a Hogwarts!!</h1>
  </div>

  <div class="container">


    <router-outlet></router-outlet>

  </div>

</mat-sidenav-container>


