h1, button{
  font-family: 'MedievalSharp', cursive !important ;
  font-weight: bold;
  text-align: center;
}

.container{
  background: fixed;

}

.title{
  display: flex;
  justify-content: space-between;
}

.alert{
  color: white;
}


