

<div class="container login-container">

  <div class="container login-container">
  <div class="row">
      <div class=" mx-auto container">

          <form (ngSubmit)="enviarSolicitud()" autocomplete="off" [formGroup]="miFormulario">

            <!-- Campo de nombre -->
            <div class="mb-3 row">

                <label class="col-sm-3 col-form-label">Nombre</label>

                <div class="col-sm-9">

                  <mat-form-field appearance="fill">
                    <mat-label>Escriba aca</mat-label>
                    <input matInput placeholder="Nombre" formControlName="nombre">
                  </mat-form-field>

                  <span class="form-text text-danger"
                      *ngIf="campoNoEsValido('nombre')">
                      Al menos 3 letras
                  </span>
                </div>
              </div>


        <!-- Campo de especie -->
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Especie</label>
            <div class="col-sm-9">
              <mat-form-field appearance="fill">
                <mat-label>Seleccione uno</mat-label>
                <mat-select formControlName="especie">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let especie of especies" [value]="especie">
                    {{especie}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

                <span class="form-text text-danger"
                  *ngIf="campoNoEsValido('especie')">
                  Debe seleccionar uno
                </span>
            </div>
        </div>

        <!-- Campo de existencias -->
        <div class="mb-3 row">
            <label class="col-sm-3 col-form-label">Genero</label>
            <div class="col-sm-9">
             <mat-form-field appearance="fill">
              <mat-label>Seleccione uno</mat-label>
              <mat-select formControlName="genero">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let genero of generos" [value]="genero">
                  {{genero}}
                </mat-option>
              </mat-select>
            </mat-form-field>

              <span class="form-text text-danger"
                  *ngIf="campoNoEsValido('genero')">
                  Debe seleccionar uno
              </span>
            </div>
        </div>

        <!-- Campo de ancestry -->
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Ancestry</label>
          <div class="col-sm-9">
              <mat-form-field appearance="fill">
                <mat-label>Escriba aca</mat-label>
                <input matInput placeholder="Ancestry" formControlName="ancestry">
              </mat-form-field>

              <span class="form-text text-danger"
                *ngIf="campoNoEsValido('ancestry')">
                Al menos 3 letras
              </span>
          </div>
        </div>

        <!-- Date picker para la fecha de nacimiento -->
        <div class="mb-3 row">
          <label class="col-sm-3 col-form-label">Fecha de Nacimiento</label>
          <div class="col-sm-9">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Seleccione fecha</mat-label>
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="yearOfBirth">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


              <span class="form-text text-danger"
                *ngIf="campoNoEsValido('ancestry')">
                Debe seleccionar una fecha
              </span>
          </div>
        </div>

        <!-- Boton que confirma formulario -->
        <div class="row">
            <div class="col">
                <button type="submit" class="float-end" mat-button color="warn">Agregar</button>
            </div>
        </div>


        </form>
    </div>

  </div>
  </div>

</div>
